<nav class="bookloop-navbar">
  <div class="navbar-left">
    <i
      class="fa fa-bars"
      data-action="click->sidebar#open"
      style="cursor: pointer;"
      aria-label="Open sidebar menu"
      role="button"
      tabindex="0"
    ></i>
  </div>

  <div class="navbar-center">
    <%= link_to dashboard_path, class: "navbar-title" do %>
      BookLoop
    <% end %>
  </div>

  <div class="navbar-right">
    <%= link_to books_path do %>
      <i class="fa fa-search" style="color: white;" aria-label="Search books"></i>
    <% end %>
  </div>
</nav>
