<div class="splash-container">
  <div class="content">
    <!-- Logo -->
    <%= image_tag 'https://res.cloudinary.com/ds8cccxkn/image/upload/v1750153216/Bookloop_h9v0zf.png', alt: 'BookLoop Logo', class: 'logo-image' %>

    <!-- Tagline -->
    <p class="tagline">Your book journey starts here</p>
    
    <!-- Girl -->
    <%= image_tag 'https://res.cloudinary.com/ds8cccxkn/image/upload/v1750153271/Vector_rozaa2.png', alt: 'Girl Illustration', class: 'girl-image' %>


  </div>
</div>

<script>
  setTimeout(() => {
    window.location.href = "<%= root_path %>";
  }, 3000);
</script>
